{% extends 'base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/audio.css') }}">
{% endblock %}
{% block title %}Audio-IA{% endblock %}
{% block cabecera %}Generador de Audio Automático{% endblock %}

{% block body %}

    <form class="audio" action="{{ path('audio_procesar') }}" method="post" enctype="multipart/form-data">
        <label class="titulo" for="texto_usuario">Escribe tu texto:</label><br>
        <textarea id="texto_usuario" name="texto_usuario"
                  placeholder="Escribe aquí el texto que deseas convertir a voz...">{{ app.request.request.get('texto_usuario') }}</textarea>
            <div>
                <p><label for="archivo_adjunto">Se admiten achivos de los sigientes tipos: (.txt, .pdf, .docx):</label></p>
                <input type="file" name="archivo_adjunto" id="archivo_adjunto" accept=".txt,.pdf,.docx">
            </div>
        <br>
        <p><input type="submit" value="Generar y Descargar Audio"></p>
        <p class="note">Archivos grandes o textos largos pueden tardar hasta 5 minutos. No cierres la página.</p>
    </form>

    <script>
        const toggle = document.getElementById("modo-toggle");
        toggle.addEventListener("click", () => {
            document.body.classList.toggle("oscuro");
        });
    </script>
{% endblock %}