    text-align: center;
}

}

    font-size: 1.8rem;
    margin-bottom: 15px;
}

    font-size: 1rem;
}

    display: inline-block;
    font-weight: 600;
}

    transform: translateY(-2px);
}

/* ================= MODO OSCURO ================= */

}

}

}

}

}

    color: #000;
}

}
